asn1crypto==0.24.0
cbor2==4.0.1
cffi==1.12.1
cryptography==2.5
Flask==0.10.1
Flask-Login==0.4.0
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
future==0.17.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==17.5.0
six==1.11.0
SQLAlchemy==1.0.13
webauthn==0.4.2
Werkzeug==0.15.3
WTForms==2.1
